@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background: linear-gradient(
        135deg,
        #8052ec,
        #d161ff
    );
}


.container{
    border: 1px solid #C4C4C4;
    width: 40%;
    min-width: 336px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    min-height: 236px;;
}

.header{
    position: relative;
    width: 100%;
    min-width: 334px;
    height: 30px;
    position: absolute;
    background: #FFDC40;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    margin-bottom: 10px;
}

.text-div{
    text-align: center;
    font-weight: 900;
    position: relative;
    font-size: 24px;
    top: 60px;
}

.sortdown{
    display: block;
    position: relative;
    top: 75px;
    margin-left: 85%;

}

.sortdown:hover .svgdown{
    fill: #8052ec;
}
.sortup:hover .svgdown{
    fill: #8052ec;
}
.sortup{
    display: block;
    position: relative;
    top: 75px;
    margin-left: 85%;
}

.off{
    display: none;
}

#push{
    position: relative;
    margin-top: 100px;
    text-align: center;
    cursor: pointer;
}

#push:hover .pushclr{
    fill: #d161ff;
}



#pushlist{
    position: relative;
    border: 1px solid #C4C4C4;
    width: 85%;
    min-width: 286px;
    min-height: 40px;
    border-radius: 10px;
    top: 90px;
    margin: auto;
    padding-top: 10px;
}


.inptdiv{
    position: relative;
    display: flex;
    height: 25px;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.inptdiv input{
    border: none;
    width: 80%;
}

.closebtn:hover{
    fill: #8052ec;
}

.completed{
    text-decoration: line-through;
    color: rgb(35, 123, 35);
    cursor: pointer;
}

.task{
    cursor: pointer;
    
}

.todotask{
    max-width: 80%;
}